---
// import BlogPost from "../../layouts/BlogPost.astro";
import Layout from '../layouts/Layout.astro';


// const content = Astro.props;
--- 

<Layout title={"Devin S.G.: About"}>
	<div class="">
		<h1>About</h1>
		<p>The days are long as hell, and there are just so many things on my mind. It could be anything, but what made
			me start building this website was it was "anything" and everything that I like to talk about: Discussions
			about music and engineering, documentation of my computers that could help others, ideas built from my own
			projects that I'd like to talk about, and all built in a space that I can easily share with future employers
			and visitors who're looking to get an idea of what I'm about.</p>

		<p>On this website, it's where I write!</p>

		<p>This is a static website built using {Astro.generator}, Markdown files written using Obsidian, SASS, and a
			GitHub Pages repo with an action that rebuilds every new commit from it's Production branch. </p>

		<h1>General Questions</h1>
		<p><i>You?</i><br />
			I'm Devin S.G., a front end software engineer based in Oakland, California and currently located in Los
			Angeles, California. I'm also an electronic musician that shares the same name and it's because that's my
			name. On this website, I attempt to split the interests all on one place with a focus on software
			development.</p>
			
		<p><i>How can I contact you?</i><br />
				For work, commission and general inquiries: <a class="highlight-link" href="mailto:hi@devin.sg">hi@devin.sg</a><br />
				For music inquiries: <a class="highlight-link" href="mailto:sg@devin.sg">sg@devin.sg</a><br />
				For wiki inquiries: <a class="highlight-link" href="mailto:wiki@devin.sg">wiki@devin.sg</a><br />
		</p>
		
		<p>More references of technology can be found directly on my portfolio.</p>
		<p><i>Can I get a print of your resume?</i><br />
			<a class="highlight-link" target="_blank" href="https://drive.google.com/file/d/165jVP3boHcqP2A7e2DpRhqRqY2QBgfT4/view?usp=sharing">Yes you can</a>
		</p>
		<!-- <p><i>Can I get a print of this website?</i><br />
			Each page is printable and uses a print targeted stylesheet and layout.</p> -->

		<p><i>Your tech stacks?</i><br />
			I've built websites and apps using:
		<ul>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>React + React Native</li>
			<li>Vue</li>
			<li>Astro</li>
			<li>SASS</li>
			<li>three.js</li>
			<li>anime.js</li>
			<li>Adobe Experience Manager</li>
			<li>AWS S3</li>
			<li>and more...</li>
		</ul>
		</p>
		<p><i>You name your computers?</i>
			<br />
			<a class="highlight-link" href="https://wiki.c2.com/?CategoryNaming" target="_blank">
				Yes
			</a>
		</p>
	</div>
	<div class="article-end">
		■
	</div><br /><br />
</Layout>

<style>
	h1 {}

	i {
		font-weight: bold;
	}
</style>