---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import AsciiContainer from '../components/Ascii'
---

<Layout title="Welcome to Astro.">
	<main>
		<AsciiContainer />
		<div class="slot-content">
			<div class="content-header">
				<h1>TR_SERV “Calypso” [00]</h1>
				<small> WorkstationServer </small>
			</div>
			<div>
				Originally a Hackintosh (check out [OpenCore](https://dortania.github.io/OpenCore-Install-Guide/)), this workstation turned server has helped me build tons of web, video, music and graphics projects since 2018, now half a decade ago. Originally, the CPU and Motherboard was sold as a bundle by a seller on Craigslist for pleasantly cheap. I asked if I could buy the motherboard first and come back a couple of weeks later to buy the CPU, he agreed.
			</div><br />
			<div>
				The rest of the components were my doing, which consisted of some not so great memory units %% name the units on PCPartPicker %%, a decent Noctua fan %% name the fan via pcpartpicker %%, a HD 7870 gifted by a friend, some hard drives, and a power supply. It was the bare minimum to be running a 1950X with and the hard drives weren't helping, but the busiest workflows were now faster than I'd ever hope, and coming up with component upgrade after upgrade, this never really got old for me up until 2024 when I picked up an M2 Mac Mini. 
			</div> <br />
			<div>
				For my current uses as a server it's very overkill, but I intend on this being my 'vault' by growing it for more i.e VMs (including Docker), AI usage (Ollama), content rendering (Cinema4D Team Renderer, Davinci Resolve), media streaming (Roon, Plex, Invidious, and Channels are all running simultaneously), game streaming (I need an output dongle), and archiving+backing up my own (lossless!) music and audio work in ZFS while also uploading it to a cloud. Right now, it's not in the place it's supposed to be, but so wasn't it when I first picked it up:
			</div>
		</div>
	</main>
</Layout>

<style>
	main {}
</style>