---
// import BlogPost from "../../layouts/BlogPost.astro";
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await Astro.glob('../../content/wiki/*/*.mdx')
	
	let allSortedPosts = posts.sort(
		(a, b) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	);
	
	return allSortedPosts.map((post) => {
		return {
			params: { slug: post.frontmatter.slug },
			props: { ...post },
		};
	});
}

// const content = Astro.props;
const {path} = Astro.params
const { Content, frontmatter } = Astro.props;
--- 

<Layout title={'Devin S.G.: ' + frontmatter.title}>
	<Content />
	<div class="closing-article">
		<p>
			<small>For any comments, corrections or suggestions, contact: <a class="highlight-link" href="mailto:wiki@devin.sg">wiki@devin.sg</a></small> <br/>
			<small>If you've enjoyed reading, <a target="_blank" href="https://www.paypal.com/paypalme/xshagia" class="highlight-link">consider a donation.</a> All contents and code is written for fun for the free public.</small>
		</p>
	</div>
	<div class="article-end">
	■
	</div><br /><br />
</Layout>